:root{
    --color-white:#fff;
    --color-red:#e63636;
    --color-dark1:#181818;
    --color-dark2:#1e1e1e;
    --color-purple1:#9333ff;
    --color-purple2:#4b0082;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-dark1);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--color-dark2);
    padding: 32px;
    width: 35%;
    min-width:30%;
    
    border-radius: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

.container form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.span-required{
    display: none;
    font-size: 12px;
    margin:3px 0 0 1px;
    color: var(--color-red);
}

.inputs{
    background-color: var(--color-dark1);
    color: var(--color-white);
    border-radius: 5px;
    padding: 8px 5px;
    outline: none;/*borda do input */
    border: 2px solid var(--color-dark1);
    width: 100%;
    box-sizing: border-box;
    transition: .5s;
}

.inputs:focus{
    border:2px solid var(--color-purple1);

}

.select{
    display: flex;
    justify-content: space-evenly;/*MESMO ESPAÇO ENTRE OS ELEMENTOS
    */
    font-weight: bold;
    gap: 20px;
}
button{
    padding: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--color-purple2);
    color: var(--color-white);
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: var(--color-purple1);
}

@media screen and (max-width:576px) {
    .select{
        gap: 5px;
        flex-direction: column;
    }

}


