* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(90deg,rgba(88, 136, 209, 0.672),rgba(86, 85, 85, 0.252));
}
.titulo {
    color: rgb(255, 255, 255);
    text-align: center;

}

.section {
    margin: auto;
    border-radius: 1rem;
    background-color: white;
    width: 450px;
    text-align: left;
    padding:10px;
    padding-bottom: 10px;
}
p{
    padding-bottom: 10px;
}


.msg {
    margin-top: 1rem;
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 15pt;

}
.button{
    padding: 7px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(92, 171, 244);
    font-style: italic;
    color: aliceblue;

}

#ft {
    border-radius: 50%;
    width: 12rem;   
    height: 12rem;
    margin-top: 0.5rem;
    display: block;
    margin: auto;
    padding: 10px;
}


.footer {
    margin-top: 1rem;
    color: white;
    text-align: center;
}