body{
    background-color: rgb(255, 255, 255);
    transition:all 1s ease-in;
}
#color{
 display: flex;
 margin: 0 auto;
 padding: 3px;
 border-radius: 10px;
border: 0;
box-shadow: 0px 0px 0px 5px rgba(152, 3, 182, 0.637);
margin-top:450px;
}